__pycache__/
*.py[cod]
*$py.class
*.so
.env
*.egg-info/
dist/
build/
.pytest_cache/
.ruff_cache/
*.pt
*.pth
*.onnx
app/vectorstore/*.faiss
external/BlurBall/
external/tt3d/
.vscode/
.idea/
data/
logs/
